{{!-- Container Block Template --}}
<div class="container-block flex gap-4 mb-4 {{#if this.config.layout}}layout-{{this.config.layout}}{{/if}} {{#if this.config.verticalAlign}}align-{{this.config.verticalAlign}}{{/if}}">
  <div class="column column-1 flex-1">
    {{{render_blocks this.regions.column_1}}}
  </div>
  
  <div class="column column-2 flex-1">
    {{{render_blocks this.regions.column_2}}}
  </div>
</div>