{{!-- Footer with optional content --}}
<div class="px-4 py-4  lg:pr-0 lg:pl-8 xl:pl-10">
 {{#if (themeData 'footer_content')}}
            <div class="mb-0 text-sm font-display text-gray-500">
                {{{themeData 'footer_content'}}}
            </div>
        {{else}}
            <p class="mb-0 text-sm font-display text-muted text-gray-500">© {{year}} {{manifest.title}}. Built with <a href="https://www.sparktype.org" class="hover:underline" target="_blank">Sparktype</a>.</p>
        {{/if}}

        </div>