{{!-- Table of Contents Partial --}}
{{!-- Renders a sticky table of contents from the page content headings --}}
{{#if content}}
  {{#if (toc content minLevel=2 maxLevel=4)}}
    <aside class="toc-container">
      <div class="toc-wrapper">
        <h2 class="toc-title">On this page</h2>
        {{{toc_html content minLevel=2 maxLevel=4}}}
      </div>
    </aside>
  {{/if}}
{{/if}}
