{{!-- Header bar with logo and mobile menu --}}
<header class="header ph3">
  {{!-- Mobile menu button --}}
  <button 
    class="mobile-menu-button"
    @click="sidebarOpen = !sidebarOpen"
    aria-label="Toggle navigation"
  >
    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
      <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
    </svg>
  </button>

  {{!-- Site logo/title --}}
  <a href="{{#if options.isExport}}./{{else}}/{{/if}}" class="header-logo">
    {{manifest.title}}
  </a>

  {{!-- Header content --}}
  {{#if (themeData 'header_content')}}
  <div style="flex: 1; margin-left: 1.5rem;">
    {{{themeData 'header_content'}}}
  </div>
  {{/if}}
</header>