{{!-- Clean header for documentation --}}
<header class="border-solid border-b-1 border-t-0 border-l-0 border-r-0 border-border bg-background">
  <div class="max-w-7xl mx-auto px-4 py-3">
    <div class="flex items-center justify-between">
      {{!-- Page breadcrumb or title --}}
      <div class="flex items-center space-x-4">
        <h1 class="text-lg font-semibold text-heading mb-0">
          {{#if contentFile.frontmatter.title}}
            {{contentFile.frontmatter.title}}
          {{else}}
            {{manifest.title}}
          {{/if}}
        </h1>
      </div>

      {{!-- Header content --}}
      {{#if (themeData 'header_content')}}
        <div class="flex-1 ml-6">
          {{{themeData 'header_content'}}}
        </div>
      {{/if}}
    </div>
  </div>
</header>