<footer class="border-t border-border mt-auto">
    <div class="container py-8">
        {{#if (themeData 'footer_text')}}
            <div class="text-center text-muted">
                {{{themeData 'footer_text'}}}
            </div>
        {{else}}
            <p class="text-center text-muted">© {{year}} {{manifest.title}}. All Rights Reserved.</p>
        {{/if}}
    </div>
</footer>