<footer class="border-t border-gray-200 dark:border-gray-800">
    <div class="mw8 center pa3 pa3-ns">
        {{#if (themeData 'footer_text')}}
            <div class="footer-content">
                {{{themeData 'footer_text'}}}
            </div>
        {{else}}
            <p>© {{year}} {{manifest.title}}. All Rights Reserved.</p>
        {{/if}}
        
    </div>
</footer>