<footer style="border-top: 1px solid var(--color-border); margin-top: auto;">
    <div class="container p-4">
        {{#if (themeData 'footer_text')}}
            <div class="footer-content">
                {{{themeData 'footer_text'}}}
            </div>
        {{else}}
            <p class="text-center text-muted">© {{year}} {{manifest.title}}. All Rights Reserved.</p>
        {{/if}}
    </div>
</footer>