<footer class="border-t border-border mt-auto">
    <div class="max-w-4xl mx-auto px-4 pt-4 lg:px-8 font-headings">
        {{#if (themeData 'footer_content')}}
            <div class="mb-0 text-xs text-muted">
                {{{themeData 'footer_content'}}}
            </div>
        {{else}}
            <p class="mb-0 text-xs text-muted">© {{year}} {{manifest.title}}. All rights reserved.</p>
        {{/if}}
    </div>
</footer>